// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*.MainPage{
	color: white;
	font-size: 20px;
	text-align: center;
	height: 50%;
	border: dashed;
	width: 30%;
	margin-top:20px;
  margin-bottom: 70px;
  margin-right:150px;
  margin-left: 150px;
	padding:5px;
	background: blue;	
	border-style: none;
}
footer {
  background-color: #777;
  padding: 1px;
  text-align: center;
  color: white;
}*/